# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NODE_ENV=development

NEXT_PUBLIC_URL=http://localhost:3000

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""
AUTH_URL="http://localhost:3000/api/auth"
AUTH_YANDEX_ID=""
AUTH_YANDEX_SECRET=""

# For using vercel postgres (neon), not local
IS_VERCEL=false

# For disable s3 storage upload and download
NEXT_PUBLIC_IS_VERCEL=false

# Drizzle
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=vr-control
DB_PORT=5432

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/gms-proj"

#API
CONTROL_KEY=changeme
CRON_SECRET=changeme

#S3
S3_ENDPOINT="s3.amazonaws.com"
S3_PORT="9000"
S3_ACCESS_KEY="changeme"
S3_SECRET_KEY="changeme"
S3_BUCKET_NAME="my-bucket"
S3_USE_SSL="true"
NEXT_PUBLIC_S3_PATH="https://s3.amazonaws.com"

#MINIO
MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=changeme
MINIO_SCHEME=https