@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --yellow: 47.9 95.8% 53.1%;
    --yellow-foreground: 26 83.3% 14.1%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --yellow: 47.9 95.8% 53.1%;
    --yellow-foreground: 26 83.3% 14.1%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /**
  * Note: this is needed to prevent the popover from being cut off
  * by the viewport when the popover is nested inside another popover
  */
  div[data-radix-popper-content-wrapper]:has(> div[data-side='right']) {
    left: calc(
      min(
        0px,
        var(--radix-popper-available-width) +
          (-1.2 * var(--radix-popper-anchor-width))
      )
    ) !important;
  }
  
  div[data-radix-popper-content-wrapper]:has(> div[data-side='left']) {
    left: calc(
      max(
        0px,
        (-1.2 * var(--radix-popper-available-width)) +
          var(--radix-popper-anchor-width)
      )
    ) !important;
  }
}

.rdp-vhidden {
  @apply hidden;
}

/* SENTRY (GLITCHTIP) REPORT DIALOG */
@media (min-width: 480px) {
  .sentry-error-embed {
    max-height: 90% !important;
  }
}
@media (min-width: 640px) {
  .sentry-error-embed {
    padding: 2.5rem /* 40px */ !important;
    border-radius: 1rem !important;
  }
  .sentry-error-embed .form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 640px) {
  .sentry-error-embed {
    padding: 1.5rem /* 24px */ !important;
  }
}
.sentry-error-embed * {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.sentry-error-embed {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
  background-color: hsl(var(--muted)) !important;
  border-color: transparent !important;
  color: hsl(var(--foreground)) !important;
}
.sentry-error-embed header {
  border-bottom-color: hsl(var(--muted-foreground)) !important;
}
.sentry-error-embed h2 {
  color: hsl(var(--foreground)) !important;
}
.sentry-error-embed header p {
  color: hsl(var(--muted-foreground)) !important;
}
.sentry-error-embed .message-error {
  border-radius: 0.75rem !important;
  border-color: hsl(var(--destructive) / 0.5) !important;
  color: hsl(var(--destructive)) !important;
  background-color: hsl(var(--muted)) !important;
  margin-bottom: 16px !important;
}
.sentry-error-embed .form-field label {
  text-transform: none !important;
  color: hsl(var(--muted-foreground)) !important;
}
.sentry-error-embed .form-field input, .sentry-error-embed .form-field textarea {
  border-radius: 0.75rem !important;
  border-color: hsl(var(--muted-foreground)) !important;
  background-color: transparent !important;
}
.sentry-error-embed .form-field input::placeholder, 
.sentry-error-embed .form-field textarea::placeholder {
  color: hsl(var(--muted-foreground)) !important;
}
.sentry-error-embed .form-submit .btn {
  border-radius: 0.75rem !important;
  background: hsl(var(--primary)) !important;
  border-color: hsl(var(--muted-foreground)) !important;
  color: hsl(var(--primary-foreground)) !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}
.sentry-error-embed .form-submit .btn:hover {
  background: hsl(var(--primary) / 0.1) !important;
  color: hsl(var(--primary)) !important;
}
.sentry-error-embed .form-submit .close {
  color: hsl(var(--muted-foreground)) !important;
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}
.sentry-error-embed .form-submit .close:hover {
  color: hsl(var(--primary)) !important;
}
.sentry-error-embed .form-submit .powered-by {
  display: none !important;
}
.sentry-error-embed .message-success {
  border-radius: 0.75rem !important;
  border-color: hsl(var(--muted-foreground)) !important;
  color: hsl(var(--foreground)) !important;
  background-color: hsl(var(--muted)) !important;
}